.header {
  padding-top: 3rem;
  padding-bottom: 2rem;
  /* background-color: #4B9CD3; */
  background-color: #0d1d30;
}

.headerContainer {
  margin: 0 auto;
  text-align: center;
  /* display: flex; */
}

#header-text {
  /* display: flex; */
  flex-direction: row;
  /* font: 'Helvetica Neue'; */
}

.large-title {
  color: white;
  font-size: 7rem;
}

.subtitle {
  /* padding-bottom: 3rem;  */
  color: rgb(202, 202, 202);
  justify-content: end;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .large-title {
    font-size: 3rem;
  }

  .header {
    padding-bottom: 1rem;
  }
}


@media (prefers-color-scheme: dark) {
  .large-title, .subtitle {
    color: #f6f8fa;
  }

  .header {
    background-color: #0d1d30;
  }

}

@media (prefers-color-scheme: light) {
  .large-title, .subtitle {
    color: #0d1d30;
  }

  .header {
    background-color: #dde5e7;
  }
  
}