.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  justify-content: center;
}

.centerText {
  text-align: center;
}

.image-box, .press-image {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.small-text {
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

img {
  height: 300px;
}

a:hover {
  /* color: #0e151b; */
  text-decoration: none; 
  color: #19a9f0;
}

a:active {
  /* text-decoration: none; */
  color: #f6f8fa;
}

#intro {
  padding-top: 40px;
}

@media screen and (min-width: 600px) {
  #intro .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .image-box, img {
    height: 300px;
  }

  .press-image > img {
    height: 500px;
  }

  .image-box {
    height: 300px!important;
  }

  .container > div {
    flex: 1 1 50%;
  }

  #introText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .small-text {
    font-weight: 600;
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 600px) {
  .small-text {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .image-box, img {
    height: 250px;
  }

}

@media (prefers-color-scheme: dark) {
  #intro {
    background-color: #0e151b;
  }

  .header-text, .small-text {
    color: #f6f8fa;
  }

  a:link, a:visited {
    /* text-decoration: none; */
    color: #f6f8fa;
  }
}

@media (prefers-color-scheme: light) {
  #intro {
    background-color: #F7F9FA;
  }

  #introText {
    color: #f6f8fa;
  }

  .header-text, .small-text {
    color: #0f1419;
  }

  a:link, a:visited {
    /* text-decoration: none; */
    color: #0f1419;
  }
}