.tweets {
  text-align: center;
}

#follow-us {
  padding-top: 40px;
}

@media screen and (min-width: 600px) {
  #follow-us .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-content: center;
  }

  /* .image-box, img {
    height: 300px;
  }

  .image-box {
    height: 300px!important;
  } */

  .container > div {
    flex: 1 1 50%;
  }

  #follow-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  /* .small-text {
    font-weight: 600;
    font-size: 1.3rem;
  } */

}

@media (prefers-color-scheme: dark) {
  #follow-us {
    background-color: #0e151b;
  }

  #follow-text {
    color: #f6f8fa;
  }
}

@media (prefers-color-scheme: light) {
  #follow-text {
    color: #0f1419;
  }
}